RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteCond %{HTTP_HOST} ^www\.reva-se\.com$ [NC]
RewriteRule ^(.*)$ https://reva-se.com/$1 [L,R=301]

<IfModule mod_headers.c>
  <FilesMatch "\.(html)$">
    Header set Cache-Control "no-cache, must-revalidate"
  </FilesMatch>
  <FilesMatch "\.(jpg|jpeg|png|svg|css|js)$">
    Header set Cache-Control "max-age=604800"
  </FilesMatch>
</IfModule>
AddDefaultCharset UTF-8
